<h1>All Players</h1>


<wrapper class="playerList">
        <div class="playerList">
            <h3 class="listheader">All Players</h3>
                <ul>
                    {{#each players}}
                    <li><a href="/sitemain/players/{{_id}}"> {{playerAlias}}</a></li>
                    {{/each}}
                </ul>
            <a href="/sitemain/players/new">Click here to add a player</a>
        </div>
    </wrapper>