
 <h1 class="allHeader">All Players</h1>

<container class="allView">
   
{{#each players}}
    <div class="card" onclick="location.href='/sitemain/players/{{_id}}';">
  <img src="https://www.clker.com/cliparts/c/Q/w/T/u/6/jack-card-hi.png" alt="Avatar" style="width:100%">
  <div class="cardContainer">
    <h4><b>{{playerAlias}}</b></h4> 
    <h5>{{location}}</h5> 
  </div>
</div>
{{/each}}

</container>

<a class="allHeader" href="/sitemain/players/new">Click here to add a player</a>
