<h1>New Player</h1>

<div class='playerDiv'>
<form class="newCircuit" method="POST" action='/sitemain/players/'>

 {{!-- player name/id --}}
  <label for="playerAlias">Player Username</label>
  <input type="text" placeholder="Enter a display name" name="playerAlias" />
{{!-- player names --}}
  <label for="firstName">First name</label>
  <input type="text" placeholder="Enter name" name="firstName" />

  <label for="location">Location</label>
  <input type="text" placeholder="Enter current city" name="location" />

   <label for="PlayerCreatedBy">User added by</label>
  <input type="text" placeholder="Enter add user's username" name="PlayerCreatedBy" />

   <label for="playerUid">PlayerUid</label>
  <input type="text" placeholder="autogenerate" name="playerUid" />
    <input type="submit" value="Create Player" />
    <input type="submit" value="Cancel" formmethod="GET" formaction="/sitemain/players">
</form>
</div>