<h1 class="allHeader">All Resources</h1>




    <container class="allView">
   
{{#each resources}}
    <div class="cardResource" onclick="location.href='/sitemain/resources/{{_id}}';">
  <div class="cardContainer">
    <h4><b>{{resourceName}}</b></h4> 
    <h5>{{resourceDescription}}</h5> 
  </div>
</div>
{{/each}}

</container>
<a class="allHeader" href="/sitemain/resources/new">Click here to add a resource</a>