<h1>New Resource</h1>
 
<form action="/action_page.php" method="get">
  <input list="players" name="playersList">
  <datalist id="players">
    {{#each players}}
                    <option value="{{playerAlias}}">
                    {{/each}}
  </datalist>
  <input type="submit">
</form>

<div class='resourceDiv'>
<form class="newCircuit" method="POST" action='/sitemain/resources/'>

 {{!-- player name/id --}}
  <label for="resourceName">Resource Name</label>
  <input type="text" placeholder="Enter a title" name="resourceName" />
{{!-- player names --}}
  <label for="resourceDescription">Description</label>
  <input type="text"  placeholder="Enter a brief description of this resource" name="resourceDescription" />

  <label for="resourceLink">Link to resource site</label>
  <input type="text" placeholder="http://yourlink.here" name="resourceLink" />

   <label for="resourceAddedBy">Added by</label>
  {{!-- <input type="text" placeholder="Enter add user's username" name="resourceAddedBy" /> --}}
<input list="players" name="resourceAddedBy">
  <datalist id="players">
    {{#each players}}
      <option value="{{playerAlias}}">
    {{/each}}
  </datalist>
   {{!-- <label for="playerUid">PlayerUid</label> --}}
  {{!-- <input type="text" placeholder="autogenerate" name="playerUid" /> --}}
    <input type="submit" value="Add Resource" />
    <input type="submit" value="Cancel" formmethod="GET" formaction="/sitemain/resources">
</form>
</div>

<wrapper class="playerListDb">
        <div class="playerListDb">
            <h3 class="listheader">All Players in Db</h3>
                <ul>
                    {{#each players}}
                    <li>{{playerAlias}}</li>
                    {{/each}}
                </ul>
            <a href="/sitemain/resources/new">Click here to add a euchre learning resource</a>
        </div>
    </wrapper>
   
   
  