<div class="mainDiv">
    <h2>Welcome to Euchre500</h2>
        <p>Euchre500 started from a scoring spreadsheet a few Indiana friends designed to keep track of 
            stats over multiple Euchre500 to find who was the best out of the group. The name of this app is based off of
            our home city's world famous race, the Indianapolis 500</p>
        <img src="http://www.greencastlemoose.org/images/euchreloner2.gif" alt="euchre">
        <p>This application will allow a user to create a Euchre500 tourney, or 'Circuit', between
            four players. As each euchre round is played, you can then select a team match up 
            (player1/player2 vs player3/player4), and input the scoring for that round and submitting the scores. 
            Scores for each player on the team will be updated to the players total scores. The first player to hit
            500 points wins that Euchre 500 'Circuit'
        </p>
        <a href="/sitemain/circuits/">Fire it up!</a>
</div>