.clearfix {
    overflow: auto;
}

header {
  background-image: url('./IMS_Turn1.jpg');
  background-size: cover;
  background-position: 10% 85%;
  width: 100wh;
  height: 15vh;
}

header h1 {
  color: white;
  
}


.navigation {
  list-style: none;
  margin:0;
  background: lightslategray;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
}
.navigation a:hover {
  background: darken(lightslategray, 5%);
}

.table {
    border: 1px solid;
    
  }
  .head {
    display: block;
    text-align: center;
    }
  .tr {
    display: flex;
  }
  
  .th, .td {
    border-top: 1px solid;
    border-right: 1px solid;
    padding: px 8px;
    flex: 1;
  }
  
  
  .th {
    font-weight: bold;
    text-align: center;
  }
  .th[role="rowheader"] {
    background-color: lightgreen;
  }
  .th[role="columnheader"] {
    background-color: lightpink;
  }
  

.sideList {
    float: right;
    display: flex;

}
.sideList ul {
    flex: 1 1 auto;
    list-style-type: none;
}

.circuitButtons{
    
    float: left;
    display: flex;
    flex-direction: column;
    
}
/* formAddEdit */
.formAddEdit,  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formAddEdit,  input[list=players], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formAddEdit, input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formAddEdit, input[type=submit]:hover {
  background-color: #45a049;
}

.formAddEdit, p {
  background-color: #45a049
}

.disableElement {
  pointer-events: none;
  filter: alpha(opacity=80);
  opacity: 0.8;
}