.clearfix {
    overflow: auto;
}

.table {
    border: 1px solid;
    
  }
  .head {
    display: block;
    text-align: center;
    }
  .tr {
    display: flex;
  }
  
  .th, .td {
    border-top: 1px solid;
    border-right: 1px solid;
    padding: px 8px;
    flex: 1;
  }
  
  
  .th {
    font-weight: bold;
    text-align: center;
  }
  .th[role="rowheader"] {
    background-color: lightgreen;
  }
  .th[role="columnheader"] {
    background-color: lightpink;
  }
  

.sideList {
    float: right;
    display: flex;

}
.sideList ul {
    flex: 1 1 auto;
    list-style-type: none;
}

.circuitButtons{
    
    float: left;
    display: flex;
    flex-direction: column;
    
}

.newCircuit,  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.newCircuit, input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newCircuit, input[type=submit]:hover {
  background-color: #45a049;
}