<h1>All Circuits</h1>
<div container="circuitsMain">
<ul>
    {{#each circuits}}
    <li><a href="/sitemain/circuits/{{_id}}"> {{crctName}}</a></li>
    {{/each}}
</ul>

<a href="/sitemain/circuits/new">Click here to add a circuit</a>
</div>