<h1>Circuits</h1>

<container class="circuitsMain">

<div class="circuitList">
<h3 class="listheader">All Circuits</h3>
<ul>
    {{#each circuits}}
    <li><a href="/sitemain/circuits/{{_id}}"> {{crctName}}</a></li>
    {{/each}}
</ul>
<a href="/sitemain/circuits/new">Click here to add a circuit</a>
</div>

</container>