<form method="POST" action="/cicuit/{{circuits.crcId}}?_method=PUT">

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <input type="text" value="{{circuit.crctName}}" placeholder="Name this Euchre500 circuit" name="crctName" />

  <input type="checkbox" name="<TODO: model.booleanMember (e.g: account.isActive)" value="true" />

  <input type="submit" value="Create Shop" />
</form>
