<h1>Create Circuit</h1>

<div class='circuitDiv'>
{{!-- <form method="POST" action="/circuit/{{circuit._id}}?_method=PUT"></form> --}}

  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  {{!-- circuit name/id --}}
  <label for="crctName">Circuit Name</label>
  <input type="text" placeholder="Name this Euchre500 circuit" name="crctName" />
{{!-- player names --}}
  <label for="crctCreated">Created By</label>
  <input type="text" placeholder="Enter your name" name="crcCreatedBy" />

  <label for="nameP1">Player Name 1</label>
  <input type="text" placeholder="Enter Player Name" name="nameP1" />

   <label for="nameP2">Player Name 2</label>
  <input type="text" placeholder="Enter Player Name" name="nameP2" />

   <label for="nameP3">Player Name 3</label>
  <input type="text" placeholder="Enter Player Name" name="nameP3" />

   <label for="nameP4">Player Name 4</label>
  <input type="text" placeholder="Enter Player Name" name="nameP4" />
{{!-- score fields --}}
   <label for="scoreP1">Player 1 Score</label>
  <input type="text" value=0 name="scoreP1" />

  <label for="scoreP2">Player 2 Score</label>
  <input type="text" value=0 name="scoreP2" />

    <label for="scoreP3">Player 3 Score</label>
  <input type="text" value=0 name="scoreP3" />

    <label for="scoreP4">Player 4 Score</label>
  <input type="text" value=0 name="scoreP4" />
{{!-- march --}}
    <label for="marchP1">Player 1 Marches</label>
  <input type="text" value=0 name="marchP1" />

    <label for="marchP2">Player 2 Marches</label>
  <input type="text" value=0 name="marchP2" />

  <label for="marchP3">Player 3 Marches</label>
  <input type="text" value=0 name="marchP3" />

  <label for="marchP4">Player 4 Marches</label>
  <input type="text" value=0 name="marchP4" />
  {{!-- euchre --}}
    <label for="euchreP1">Player 1 Euchres</label>
  <input type="text" value=0 name="euchreP1" />

    <label for="euchreP2">Player 2 Euchres</label>
  <input type="text" value=0 name="euchreP2" />

    <label for="euchreP3">Player 3 Euchres</label>
  <input type="text" value=0 name="euchreP3" />

     <label for="euchreP4">Player 4 Euchres</label>
  <input type="text" value=0 name="euchreP4" />
    {{!-- loaner --}}
    <label for="loanerP1">Player 1 Loaners</label>
  <input type="text" value=0 name="loanerP1" />

    <label for="loanerP2">Player 2 Loaners</label>
  <input type="text" value=0 name="loanerP2" />

    <label for="loanerP3">Player 3 Loaners</label>
  <input type="text" value=0 name="loanerP3" />

    <label for="loanerP4">Player 4 Loaners</label>
  <input type="text" value=0 name="loanerP4" />
{{!-- wins --}}
  <label for="winsP1">Player 1 Wins</label>
  <input type="text" value=0 name="winsP1" />

  <label for="winsP2">Player 2 Wins</label>
  <input type="text" value=0 name="winsP2" />

  <label for="winsP3">Player 3 Wins</label>
  <input type="text" value=0 name="winsP3" />

  <label for="winsP4">Player 4 Wins</label>
  <input type="text" value=0 name="winsP4" />
{{!-- loss --}}
    <label for="lossP1">Player 1 Losses</label>
  <input type="text" value=0 name="lossP1" />

    <label for="lossP2">Player 2 Losses</label>
  <input type="text" value=0 name="lossP2" />

    <label for="lossP3">Player 3 Losses</label>
  <input type="text" value=0 name="lossP3" />

   <label for="lossP4">Player 4 Losses</label>
  <input type="text" value=0 name="lossP4" />
{{!-- total --}}
     <label for="totalP1">Player 1 Total</label>
  <input type="text" value=0 name="totalP1" />

       <label for="totalP2">Player 2 Total</label>
  <input type="text" value=0 name="totalP2" />

         <label for="totalP3">Player 3 Total</label>
  <input type="text" value=0 name="totalP3" />

         <label for="totalP4">Player 4 Total</label>
  <input type="text" value=0 name="totalP4" />

{{!-- submit new circuit --}}
  <input type="submit" value="Create Circuit" />
</form>
</div>
